@model LoginViewModel

@{
    ViewData["Title"] = "Login Page";
}

<div>
    <form asp-contorller="Account" asp-action="Login" method="post">
        <input type="hidden" asp-for="ReturnUrl">
        <div>
            <label asp-for="UserName"></label>
            <input type="text" asp-for="UserName" />
        </div>
        <div>
            <label asp-for="Password"></label>
            <input type="text" asp-for="Password" />
        </div>
        
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</div>
