<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] </title>
</head>
<body>
<!-- content -->
@RenderBody()
<!-- /content -->

@RenderSection("Scripts", false)


</body>
</html>