<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] </title>
</head>
<body>

<!-- content -->
<main style="padding: 20px; background-color: #d2d2d2">
    @RenderBody()
</main>
<!-- /content -->

@RenderSection("Scripts", false)


</body>
</html>